* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    overflow: hidden;
    background: #121212;
    color: white;
    cursor: default;
    outline: 0;
    user-select: none;
    -webkit-user-select: none;
}

body, input, button, select, option, textarea {
    font: menu;
    font-size: 14px;
    line-height: 1.5;
}

a, img {
    user-drag: none;
    -webkit-user-drag: none;
    object-fit: contain;
}

::-webkit-scrollbar {
        height: 15px;
        width: 15px;
        background: #121212;
    }
    ::-webkit-scrollbar-thumb {
        background: #333;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #404040;
    }
    ::-webkit-scrollbar-corner {
        background: #121212;
}

#root {
    position: relative;
    margin: 5px;
    height: calc(100% - 10px);
}

/****************************************************************/

header {
        position: relative;
        height: 25px;
        line-height: 25px;
        text-align: center;
    }
    header .drag {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 25px;
        -webkit-app-region: drag;
    }
    header .title {
        font: menu;
        font-size: 12px;
        opacity: .8;
    }
    header .close {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 25px;
        opacity: 0;
        z-index: 100;
        transition: opacity .5s;
    }
    #root:hover header .close {
        opacity: 1;
    }
    header .close:hover {
        background: #E81123;
    }
    header .close:active {
        background: #B50D1B;
}

/****************************************************************/

.radial-slider {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -68px;
        margin-top: -68px;
        width: 136px;
        height: 136px;
        border-radius: 100%;
    }
    .radial-slider .indicator {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -9px;
        border-bottom: 14px solid #338AF4;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        transition: border-bottom-color .2s;
    }
    .radial-slider .indicator:hover {
        border-bottom-color: #194BD3;
    }
    .radial-slider .indicator:active {
        border-bottom-color: #0A36A8;
    }
    .radial-slider .inner {
        background: #282C34;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -56px;
        margin-top: -56px;
        width: 112px;
        height: 112px;
        border-radius: 100%;
}
