* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    overflow: hidden;
    background: #121212;
    color: white;
    cursor: default;
    outline: 0;
    user-select: none;
    -webkit-user-select: none;
}

body, input, button, select, option, textarea {
    font: menu;
    font-size: 14px;
    line-height: 1.5;
}

a, img {
    user-drag: none;
    -webkit-user-drag: none;
    object-fit: contain;
}

::-webkit-scrollbar {
        height: 15px;
        width: 15px;
        background: #121212;
    }
    ::-webkit-scrollbar-thumb {
        background: #333;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #404040;
    }
    ::-webkit-scrollbar-corner {
        background: #121212;
}

#root {
    position: relative;
    margin: 5px;
    height: calc(100% - 10px);
}

/****************************************************************/

header {
        position: relative;
        height: 25px;
        line-height: 25px;
        text-align: center;
    }
    header .drag {
        position: absolute;
        left: 0;
        right: 25px;
        top: 0;
        bottom: 0;
        -webkit-app-region: drag;
    }
    header .title {
        font: menu;
        font-size: 12px;
        opacity: .8;
    }
    header .close {
        position: absolute;
        right: 0;
        top: 0;
        width: 25px;
        height: 25px;
        opacity: 0;
        z-index: 100;
        transition: opacity .5s;
    }
    #root:hover header .close {
        opacity: 1;
    }
    header .close:hover {
        background: #E81123;
    }
    header .close:active {
        background: #B50D1B;
}

/****************************************************************/

.radial-slider {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -58px;
    margin-top: -58px;
    width: 116px;
    height: 116px;
}
